<div class="header shadow">
    <h1>Nuevo Post</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
                <div class="slide-animate-container">
                    <ng-include src="'app/nav.html'"></ng-include>
                </div>
            <form name="postForm" method="POST" ng-submit="new()">
                <table class="table">
                    <tr>
                        <th>Título</th>
                        <td><input type="text" class="form-control" ng-model="post.titulo" name="titulo"
                                ng-class="{ 'is-invalid' : postForm.titulo.$invalid && !postForm.titulo.$pristine }"
                                ng-pattern="/^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/" id="validationr01"
                                placeholder="Introduce el titulo" ng-required="true">

                            <div class="invalid-feedback" ng-show="postForm.titulo.$error.required">
                                El titulo no puede estar vacio.
                            </div>
                            <div class="invalid-feedback" ng-show="postForm.titulo.$error.pattern">
                                El titulo no puede contener numeros.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Cuerpo</th>
                        <td><textarea class="form-control" ng-model="post.cuerpo" name="cuerpo"
                                ng-class="{ 'is-invalid' : postForm.cuerpo.$invalid && !postForm.cuerpo.$pristine }"
                                rows="5" maxlength="100" id="validationr02" ng-required="true">
                                </textarea>


                        </td>
                    </tr>
                    <tr>
                        <th>Etiquetas</th>
                        <td><input type="text" class="form-control" ng-model="post.etiquetas" name="etiquetas"
                                ng-class="{ 'is-invalid' : postForm.etiquetas.$invalid && !postForm.etiquetas.$pristine }"
                                ng-pattern="/^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/" id="validationr03"
                                placeholder="Introduce etiquetas" ng-required="true"></td>
                    </tr>
                </table>
                <button class="btn btn-primary" ng-disabled="postForm.$invalid">Enviar</button>
            </form>
        </div>
    </div>
</div>