<div class="header shadow">
    <h1>Lista de posts</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
                <div class="slide-animate-container">
                    <ng-include src="'app/nav.html'"></ng-include>
                </div>
            <div class="wrapper">
                <nav aria-label="Registros por página">
                    <ul class="pagination float-right">
                        <li class="page-item" ng-class="{'active':(rppActual==r)}" ng-repeat="r in rppS">
                            <a class="page-link" href="#!/post/plist/{{r}}/{{ calcPage[$index] }}">{{r}}</a>
                        </li>
                    </ul>
                </nav>
                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                        ng-repeat="p in botonera track by $index">
                        <a class="page-link" ng-if="p != '...'" href="#!/post/plist/{{ rppActual }}/{{ p }}">{{p}}</a>
                        <span class="page-link" ng-if="p == '...'">{{ p }}</span>
                      </li>
                    </ul>
                </nav>
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Cuerpo</th>
                        <th>Etiquetas</th>
                        <th>Acciones</th>
                    </tr>
                    <tr ng-repeat="fila in pagina">
                        <td>{{fila.id}}</td>
                        <td>{{fila.titulo}}</td>
                        <td>{{fila.cuerpo}}</td>
                        <td>{{fila.etiquetas}}</td>
                        <td>
                            <a href="#!/post/view/{{fila.id}}"><i class="fa fa-eye"></i></a>
                            <a href="#!/post/edit/{{fila.id}}"><i class="fa fa-edit"></i></a>
                            <a href="#!/post/remove/{{fila.id}}"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>

                </table>
                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{'active':(paginaActual==p), 'disabled' :p=='...'}"
                            ng-repeat="p in botonera track by $index">
                            <a class="page-link" href="#!/post/plist/{{rppActual}}/{{p}}">{{p}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>